# Binaries
**/bin/
**/bin-int/
Intermediates/

**/game

# Calibur files
*.log
*.json

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Calibur/vendor/VulkanSDK
CaliburEditor/assets/cache
CaliburEditor/assets/LocalModel
scripts/__pycache__